$hover-highlight: hsl($hue, 30%, 95%);
$editing-highlight: hsl($hue, 53%, 90%);

svg.NotochordEditable {
  g.NotochordBeatView {
    .NotochordBeatViewBackground { fill: transparent;}
    &:hover .NotochordBeatViewBackground { fill: $hover-highlight; }
    &.NotochordBeatViewEditing .NotochordBeatViewBackground { fill: $editing-highlight; }
  }
}
.NotochordChordEditor {
  position: absolute;
  visibility: hidden;
  transform: translateY(10px);
  opacity: 0;
  transition: transform .4s, opacity .4s;
  padding: 4px;
  box-sizing: border-box;
  border-radius: 5px;
  width: 6em;
  text-align: center;
  outline: none !important;
  border: 3px solid $editing-highlight;
  box-shadow: 0 1px 2px 0 rgba(0,0,0,.1);
  font-weight: 500;
  &.show {
    visibility: visible;
    transform: translateY(0);
    opacity: 1;
  }
}
