$hue: 195;
$played-highlight: hsl($hue, 53%, 79%);

@import url('https://fonts.googleapis.com/css?family=Slabo+27px&subset=latin-ext');

.NotochordSVGElement {
  font-family: 'Slabo 27px', serif;
}

.NotochordPlayedBeat {
  path, text {
    fill: $played-highlight;
  }
}

@import 'editor';
